* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/fondoingresar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.containerRegistrar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 40px;
    width: 100%;
}

.form-register {
    width: 500px;
    background: #24303c;
    border-top: 4px solid #017bab;
    padding: 30px;
    font-family: "calibri";
    color: white;
    box-shadow: 10px 15px 40px #000;
    opacity: 0.8;
}


.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-register p {
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

.mensaje {
    color: red;
}

.mensaje-exito {
    color: blue;
}